* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v114_6 {
  width: 100%;
  height: 1020px;
  background: linear-gradient(rgba(143,255,188,1), rgba(254,255,254,1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v114_7 {
  width: 386px;
  height: 786px;
  background: rgba(143,255,188,1);
  opacity: 1;
  position: absolute;
  top: 117px;
  left: 717px;
  overflow: hidden;
}
.v114_27 {
  width: 91px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 459px;
  left: 764px;
  font-family: Inter;
  font-weight: Italic;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v114_15 {
  width: 307px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 175px;
  left: 819px;
  font-family: Inter;
  font-weight: Italic;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v114_16 {
  width: 316px;
  height: 41px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 252px;
  left: 752px;
}
.v114_18 {
  width: 316px;
  height: 43px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 341px;
  left: 752px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v114_22 {
  width: 316px;
  height: 43px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 488px;
  left: 752px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v114_26 {
  width: 316px;
  height: 43px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 579px;
  left: 752px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v114_19 {
  width: 275px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 355px;
  left: 764px;
  font-family: Inter;
  font-weight: Italic;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v114_17 {
  width: 80px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 261px;
  left: 764px;
  font-family: Inter;
  font-weight: Italic;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v114_24 {
  width: 93px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 550px;
  left: 764px;
  font-family: Inter;
  font-weight: Italic;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v114_25 {
  width: 131px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 495px;
  left: 764px;
  font-family: Inter;
  font-weight: Italic;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v114_28 {
  width: 131px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 585px;
  left: 764px;
  font-family: Inter;
  font-weight: Italic;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v114_37 {
  width: 86px;
  height: 86px;
  background: url("../images/v114_37.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 62px;
  overflow: hidden;
}
.v141_94 {
  width: 341px;
  color: rgba(174,167,167,1);
  position: absolute;
  top: 117px;
  left: 62px;
  font-family: Inter;
  font-weight: Bold Italic;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
